slnExamenRommel/TestWcfXml/Service References/wsSucursales/Sucursales2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BeExamen" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BeExamen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfsucursal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sucursal" nillable="true" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsucursal" nillable="true" type="tns:ArrayOfsucursal" />
  <xs:complexType name="sucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="banco" nillable="true" type="tns:banco" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idbanco" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ordenpagoes" nillable="true" type="tns:ArrayOfordenpago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sucursal" nillable="true" type="tns:sucursal" />
  <xs:complexType name="banco">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecharegistro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sucursals" nillable="true" type="tns:ArrayOfsucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="banco" nillable="true" type="tns:banco" />
  <xs:complexType name="ArrayOfordenpago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ordenpago" nillable="true" type="tns:ordenpago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfordenpago" nillable="true" type="tns:ArrayOfordenpago" />
  <xs:complexType name="ordenpago">
    <xs:sequence>
      <xs:element minOccurs="0" name="des_estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idsucursal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="monto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="sucursal" nillable="true" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ordenpago" nillable="true" type="tns:ordenpago" />
</xs:schema>