slnExamenRommel/TestWcfXml/Service References/wsSucursales/Sucursales.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26421/Sucursales.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BeExamen" />
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idbanco" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BeExamen" minOccurs="0" name="listResult" nillable="true" type="q1:ArrayOfsucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>